snippet doc
###################################################################
# Script Name	: `!p snip.rv = snip.fn`
# Description	: $1
# Args          : $2
# Author       	: kiba
# Email         : zombie32@gmail.com
###################################################################
endsnippet
